.header {
    padding: 20px 30px;
    background-color: var(--colors-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}