.uploadFiles {
    cursor: pointer;
    height: 200px;
    border-radius: var(--border-radius);
    border: 2px dashed var(--colors-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input {
        opacity: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        line-height: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }
}