.landing {
    position: relative;

    p {
        font-size: 28px;
    }

    h1 {
        font-size: 80px;
    }

    a {
        text-decoration: none !important;
    }

    &__auth {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
}