.header {
    max-height: 60px;
    width: 100%;
    background: var(--colors-white);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 2;
}